<div class="hero">
    <div class="textoH">
        <h1>Mi pagina Web</h1>
        <div class="desc">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus,
                ad necessitatibus autem minus nisi magnam ea, voluptatem illo obcaecati
                fuga animi debitis, aut eaque reprehenderit ut a rerum repudiandae iusto?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus,
                ad necessitatibus autem minus nisi magnam ea, voluptatem illo obcaecati
                fuga animi debitis, aut eaque reprehenderit ut a rerum repudiandae iusto?
            </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus,
                ad necessitatibus autem minus nisi magnam ea, voluptatem illo obcaecati
                fuga animi debitis, aut eaque reprehenderit ut a rerum repudiandae iusto?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus,
                ad necessitatibus autem minus nisi magnam ea, voluptatem illo obcaecati
                fuga animi debitis, aut eaque reprehenderit ut a rerum repudiandae iusto?
            </p>
        </div>
    </div>
    <img src="herotest.jpg" class = "heroimg" alt="">
</div>