<footer>
    <img src="placeholderlogo.png" class = "footerlogo" alt="">
    <div class="section">
        <div class="sect-title">Lorem</div>
        <div class="info">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum veritatis debitis qui neque sint impedit in voluptatum eaque non dolor,
            provident delectus asperiores iure possimus, beatae natus ab quod voluptates.
        </div>
    </div>
    <div class="section">
        <div class="sect-title">Lorem2</div>
        <div class="info">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum veritatis debitis qui neque sint impedit in voluptatum eaque non dolor,
            provident delectus asperiores iure possimus, beatae natus ab quod voluptates.
        </div>
    </div>
    <div class="section">
        <div class="sect-title">Lorem3</div>
        <div class="info">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum veritatis debitis qui neque sint impedit in voluptatum eaque non dolor,
            provident delectus asperiores iure possimus, beatae natus ab quod voluptates.
        </div>
    </div>
    <div class="section">
        <div class="sect-title">Lorem4</div>
        <div class="info">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum veritatis debitis qui neque sint impedit in voluptatum eaque non dolor,
            provident delectus asperiores iure possimus, beatae natus ab quod voluptates.
        </div>
    </div>

</footer>